$border: 1px solid #0005;

$bg-colors: (
    primary: #2a294a, 
    secondary: #653585,
    terciary: #c6b6fa,
    selected: #d5d0e6,
    item: #eee
);

@mixin btn-actived() {
    border: none;
    padding: .5rem .8rem;
    box-shadow: 0 0 3px #0005;
    border-radius: 4px;
    background: map-get($bg-colors, secondary );
    color: map-get($bg-colors, terciary );
    font-weight: 600;

    &:hover{
        background-color: #2a294a;
        box-shadow: 0 0 5px #000a;
    }
    &:focus{
        outline: none;
    }
}

@mixin btn-disabled() {
    background: grey;
    color: black;
    &:hover{
        background-color: grey;
        box-shadow: none;
    }
    &:focus{
        outline: none;
    }
}