@import "commonStyles.scss";

*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    

    &::-webkit-scrollbar{
        width: 0;
        visibility: hidden;
    }
}

html,
body{
    overflow-y: hidden ;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: map-get($bg-colors, primary);
}

#root{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: inherit;
    min-height: inherit;
}
