@import "./genericStyles/commonStyles.scss";

.main{
    overflow-x: scroll;
    width: 100%;
    max-width: 100%;
    min-width: min-content;
    margin: 0 auto;

    transition: filter 0.4s ease-out;

    @media screen and (min-width: 600px) {
        width: 80%;
    }

    
    // Styles for header of main view
    .header{
        border: $border;   
        margin: 0;
        min-width: min-content;
        max-width: 100%;
        .flex-row{
            display: flex;
            align-items: center;
            background-color: map-get($bg-colors, secondary);
            height: 60px;
            width: 100%;
            
            .title-item:first-child{
                width: 10%;
            }

            .title-item{
                display: flex;
                align-items: center;
                height: 100%;
                width: calc(90% / 4);
                border-left: $border;
                padding: 0px 8px;

                h3{
                    font-size: calc(.9rem + .5vw);
                    margin: 0;
                }
            }
            .title-item:first-child{
                border-left: none;
            }
        }
    }

    // Styles for list of main view
    .list-container{
        max-width: 100%;
        min-width: min-content;
        margin: 0;
        max-height: 300px;
        overflow-y: scroll;
        .flex-list{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            .item{
                display: flex;
                width: calc(100% - 2px); 
                margin: 0 auto;
                background-color: map-get($bg-colors, item);

                .container:first-child{
                    cursor: pointer;
                    width: 10%;

                    div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    div i{
                        position: absolute;
                        pointer-events: none;
                        font-size: calc(1rem + 1vw);
                    }
                }

                .container{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(90% / 4);
                    border-left: $border;
                    padding: 16px 4px;

                    button{
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        border: none;
                        color: map-get($bg-colors, item);
                        background-color: map-get($bg-colors, secondary);

                        &:hover{
                            background-color: map-get($bg-colors, primary );
                        }
                    }

                    input{
                        position: relative;
                        width: 90%;
                        max-width: 100%;
                        padding: 0;
                        border-radius: 4px;
                        border: none;
                        @include input-date();
                    }
                }

                .container:first-child{
                    border-left: none;
                }
            }
            .selected{
                background-color: map-get($bg-colors, selected );
            }
        }
    }    


    // Styles for footer of main view
    .footer{
        display: inline-block;
        width: 100%;
        .flex-footer{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 25px 15px;
            background-color: map-get($bg-colors, terciary );

            div:first-child{
                display: flex;
                flex-direction: column;
                justify-content: center;

                span:first-child{
                    margin-bottom: 7px;
                }
            }

            div:last-child{
                display: flex;
                flex-direction: column;

                button{
                    @include btn-actived();
                }

                button:first-child{
                    margin-bottom: 3px;
                }
            }

            @media screen and (min-width: 600px){
                width: 70%;

                div:last-child{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    flex-grow: 1;

                    button:first-child{
                        margin-right: 7px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}